* {
    box-sizing: border-box;
    font-family: Helvetica, arial, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

nav ul, aside ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0 5px;
}

button {
    border: 1px solid black;
    padding: 7px;
}

.buffer {
    grid-area: buffer;
}

.mobileside {
    grid-area: mobileside;

    overflow-x: auto;
    overflow-y: scroll;
}

.sidemenu > li {
    margin-bottom: 7px;
}

.menulink {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.menulinkfloat {
    display: inline-block;
    width: auto;
    float: right;
    cursor: pointer;
}

.menulinkinline {
    display: inline-block;
    width: auto;
    cursor: pointer;
}

.menulinkinactive {
    display: inline-block;
    width: auto;
    cursor: default;
}

.menulink, .menulink:link, .menulink:visited, .menulink:active {
    color: #0000EE;
    text-decoration: none;
}

.menulink:hover {
    color: #551A8B;
    text-decoration: none;
}

.menulinkinactive, .menulinkinactive:link, .menulinkinactive:visited, .menulinkinactive:active, .menulinkinactive:hover {
    color: #000000;
    text-decoration: none;
}

.status {
    grid-area: status;

    overflow-x: auto;
    overflow-y: scroll;

    border-bottom: 1px solid #cecece;
}

.footer {
    grid-area: footer;
}

.wrapper, .mobilewrapper {
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
}

.wrapper {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows:  min-content 1fr min-content min-content;
    grid-template-areas: "header" "buffer" "status" "footer";
}

.mobilewrapper {
    display: none;
    grid-gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows:  min-content 1fr;
    grid-template-areas: "header" "mobileside";
}

.sideleft {
    display: none;
    grid-area: sideleft;

    overflow-x: auto;
    overflow-y: scroll;

    border-bottom: 1px solid #cecece;
}

.sideright {
    display: none;
    grid-area: sideright;

    overflow-x: auto;
    overflow-y: scroll;

    border-bottom: 1px solid #cecece;
}

.mobilesideleft {
    border-bottom: 1px solid #cecece;
}

.sideleft, .sideright, .mobilesideleft, .mobilesideright, #userstatus, .buffer {
    padding: 7px;
}

#voicestatus {
    border-top: 1px solid #cecece;
}

.menucontainer, .mobilemenucontainer {
    display: inline-block;
    width: 37px;
    padding: 2px 7px 2px 2px;
    cursor: pointer;
    vertical-align: top;
}

.hamburger {
    width: 100%;
    height: 5px;
    background-color: black;
    margin-top: 5px;
    cursor: pointer;
}

.hamburgerfirst {
    margin-top: 0px;
}

.header {
    padding: 10px;

    overflow-x: auto;
    overflow-y: scroll;

    border-bottom: 1px solid #cecece;
}

.buffer {
    padding-left: 10px;
    padding-right: 10px;

    border-bottom: 1px solid #cecece;
}

.mainheader {
    display: inline-block;
    font-size: 1.5em;
}

.subheader {
    font-size: 1em;
    color: #444444;
}

.buffer, #chatinput, .status, #voicepttcontainer {
    font-size: 1.25em;
}

button {
    font-size: 1.25em;
}

#voicestatus button {
    text-align: left;
}

.sideheading {
    font-weight: bold;
}

.header, .header > *, .status, .status > * {
    vertical-align: baseline;
}

.headericon {
    display: inline-block;
    width: 25px;
    font-size: 1.15em;
}

.widelinks a {
    display: block;
}

.sideheading {
    margin-bottom: 10px;
}

.buffer {
    overflow-x: auto;
    overflow-y: scroll;

    min-height: 150px;
}

#chatinput {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
    resize: none;
}

#voicepttcontainer {
    border-top: 1px solid #cecece;
}

#voiceptt {
    width: 100%;
    height: 125px;
    border: 0;
}

.voiceinactive {
    display: inline-block;
    width: 27px;
}

.voiceactive {
    display: inline-block;
    width: 27px;
    padding-left: 4px;
}

@media (min-width: 500px) {
    .wrapper {
        height: 100vh;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: min-content 1fr 1fr min-content min-content;
        grid-template-areas: "sideleft header" "sideleft buffer" "sideright buffer" "status buffer" "footer footer";
    }

    #voiceptt {
        height: 100px;
    }

    .sideleft, .sideright, .status {
        min-width: 200px;
    }

    .sideleft {
        display: grid;
    }

    .sideright {
        display: grid;
    }

    .menucontainer {
        display: none;
    }
}

@media (min-width: 750px) {
    .wrapper {
        height: 100vh;
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: min-content 1fr min-content min-content;
        grid-template-areas: "sideleft header sideright" "sideleft buffer sideright" "status buffer sideright" "footer footer footer"
    }

    #voiceptt {
        height: 100px;
    }

    .sideleft, .sideright, .status {
        min-width: 200px;
    }

    .sideleft {
        display: grid;
    }

    .sideright {
        display: grid;
    }

    .menucontainer {
        display: none;
    }
}
